<% if User.current.allowed_to?(:suppress_mail_notifications, @project) %>
  <% if defined?(issues) %>
    <hr>
  <% end %>
  <p class="plugin_redmine_silencer">
    <%= hidden_field_tag 'suppress_mail', '0', :id => nil %>
    <%= check_box_tag 'suppress_mail', '1', Setting.plugin_redmine_silencer['silencer_default'] %>
    <%= label_tag 'suppress_mail', l(:label_silencer_suppress_mail) %>
  </p>
  <script>
var bulk_edit_form_el = $('#bulk_edit_form');
if (bulk_edit_form_el) {
  var suppress_mail_el = $('#suppress_mail');
  bulk_edit_form_el.submit(function(e) {
      if (suppress_mail_el.is(':checked')
          || confirm('You are about to bulk-update a number of issues.  You might have wanted to suppress email notifications.\n\nClick OK to proceed updating or Cancel stay on this page.')) {
        e.currentTarget.submit();
      } else {
        e.preventDefault();
      }
  });
}
  </script>
<% end %>
